body {
  margin: 0;
}
div#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  flex: 0 0 50px;
}
main {
  flex: 1;
}


#lawn {
  display: flex;
  flex-direction: column;
}

#grass-container {
  display: flex;
  flex: 1;

  justify-content: center;

  min-height: 100px;
  & > {
    flex: 1;
  }
}
